<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskFromSkype1Variant1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.21" newVersion="17.3460.0.21" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TaskFromSkype1Variant1.Properties.Settings>
      <setting name="inputFile" serializeAs="String">
        <value>D:\.Net-Lab10\offlinePartNew\.Net-Lab10.offlinePart\Emap-offlinePart\TaskFromSkype1Variant1\input.xlsx</value>
      </setting>
      <setting name="outputFile" serializeAs="String">
        <value>..D:\.Net-Lab10\offlinePartNew\.Net-Lab10.offlinePart\Emap-offlinePart\TaskFromSkype1Variant1\output.xlsx</value>
      </setting>
      <setting name="firstColumn" serializeAs="String">
        <value>"A"</value>
      </setting>
      <setting name="secondColumn" serializeAs="String">
        <value>"B"</value>
      </setting>
      <setting name="firstStartIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="secondStartIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="outputTarget" serializeAs="String">
        <value>Console</value>
      </setting>
    </TaskFromSkype1Variant1.Properties.Settings>
  </userSettings>
</configuration>